@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.2);
    font-family: 'Roboto', sans-serif;
}

.screen {
    width: 100vw;
    height: 100vh;
    display: none;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.visible {
    display: flex;
}

.heading {
    text-align: center;
    font-weight: 400;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #2980b9;
}

.answer-list {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-gap: 10px;
}

.answer {
    width: 100%;
}

.answer.active {
    background-color: orange;
}

.answer.right {
    background-color: green;
}

.answer.active,
.answer.right {
    animation: blink 1s infinite ease-out;
    border-color: white;
}

@keyframes blink {

    0%,
    100% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }
}